:root {
  --mainBlue: #1f7aab;
  --hover: #1f7aab;
}

body {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Login & Register Page */
form {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 300px;
  color: var(--mainBlue);
}
h3 {
  color: var(--mainBlue);
  font-size: 2rem;
  padding-bottom: 1rem;
}
.input-container {
  width: 350px;
}

.submit .v-btn {
  width: 350px;
  gap: 1rem;
  color: var(--mainBlue);
}
.gap {
  height: 1rem;
}

/* NAV BAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-selectors {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-button:hover {
  background-color: var(--hover);
}

/* HOME PAGE */
.new-quote {
  padding: 1rem 1rem 1rem 0rem;
}
.thumbnails {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.quote-thumbnail {
  width: 400px;
  height: 200px;
  padding: 1rem;
  margin: 0.5rem;
  padding-bottom: 2rem;
  border: 1px solid black;
}
